:root {
    --blue: #0066ff;
    --grey: linear-gradient(135deg, #9b59b6, #ff6ec7, #5843f4);
    --black: #121212;
    --white: #f5f5f5;
}

/* Theme-specific styles */
[data-theme="dark"] {
    --background-color: var(--black);
    --text-color: var(--white);
    --link-hover-color: var(--blue);
}

[data-theme="light"] {
    --background-color: var(--white);
    --text-color: var(--black);
    --link-hover-color: var(--blue);
}

/* Apply theme colors */
body {
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Main Title with Hover Effect */
.title-t {
    font-size: 2.5rem;
    color: var(--text-color) !important;
    transition: color 0.3s ease;
    text-align: center;

}


/* Additional Styles for Components */
.track-nfts-container {
    padding: 2rem;
    margin: 1.5rem;
    background-color: var(--background-color);
    border: 2px solid #e2e8f0;
    border-radius: 12px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.track-nfts-container h2,p {
    color: var(--text-color) !important;
   
    position: relative;
    padding-bottom: 0.5rem;
}

/* Light/Dark Mode Adjustments for Sections */
.About-NFT, .Work-NFT, .Info-NFT, .Track-NFt, .Why-Track-NFT {
    background: linear-gradient(135deg, #b65991, #7a5beb, #14e699);
   
    padding: 1.5rem;
    margin-top: 1rem;
    border-radius: 8px;
    margin: 2rem;
    transition: background-color 0.3s ease;
}
[data-theme="dark"] .About-NFT,
[data-theme="dark"] .Track-NFt,
[data-theme="dark"] .Work-NFT,
[data-theme="dark"] .Why-Track-NFT,
[data-theme="dark"] .Info-NFT {
    background: linear-gradient(135deg, #9b59b6, #4db1fd, #5843f4);
}