.table-container {
    margin: 10px 0;
    display: flex; /* Enable flexbox */
    justify-content: center; /* Center align the table horizontally */
    overflow-x: auto; /* Allows horizontal scrolling on smaller screens */
  }

  .top-coins-table {
    width: 100%;
    max-width: 800px; /* Set a maximum width for better alignment */
    border-collapse: collapse;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden; /* Ensures borders are rounded */
  }

  .top-coins-table th,
  .top-coins-table td {
    padding: 6px 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  .top-coins-table th {
    background-color: #f4f4f4;
    color: #333;
  }

  .top-coins-table tr:hover {
    background-color: #f1f1f1;
  }

  .coin-name {
    font-weight: bold;
    font-size: 18px;
    color: #666;
  }

  .coin-symbol {
    text-transform: uppercase;
    color: #666;
  }

  .coin-price {
    color: #28a745; /* Green color for prices */
  }
