/* NotFoundPage.css */

.not-found-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #0e4a7b, #1b2b6c); /* Replace with your desired colors */
    color: white;
  }
  
  .not-found-content {
    text-align: center;
    margin-top: -100px; /* Adjust as needed */
  }
  
  .not-found-image {
    width: 12rem;
    margin: 0 auto;
    animation: bounce 1s infinite;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
  }
  
  .not-found-image:hover {
    transform: scale(1.1);
  }
  
  .not-found-heading {
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 2rem;
    margin-top: 1.5rem;
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
    animation: pulse 1.5s infinite;
  }
  
  .not-found-link {
    display: inline-block;
    background: linear-gradient(to right, #d946ef, #3b82f6); /* Adjust the gradient */
    color: white;
    padding: 1rem 2rem;
    border-radius: 30px;
    text-decoration: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
  }
  
  .not-found-link:hover {
    transform: scale(1.1);
  }
  
  /* Animations */
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
  
  @keyframes pulse {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  