:root {
  --vision-bg-color: #f9f9f9;
  --vision-text-color: #333;
  --vision-title-color: #007bff;
  --vision-border-color: rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] {
  --vision-bg-color: #121212;
  --vision-text-color: #f5f5f5;
  --vision-title-color: #3a80e9; /* A shade of blue for dark mode */
  --vision-border-color: rgba(81, 50, 222, 0.5);
}

.vision-container {
  height: 1000px;
  text-align: center;
  background-color: var(--vision-bg-color);
  color: var(--vision-text-color);
  border-radius: 8px;
  transition: all 0.3s ease;
  /* Scale animation on hover */
  transform: translateY(0);
}

.vision-container:hover {
  transform: translateY(-5px); /* Lift effect on hover */
}

.vision-heading {
  font-size: 2em;
  color: var(--vision-title-color);
  animation: fadeIn 0.6s ease forwards;
}

.vision-subheading {
  
  color: var(--vision-text-color);
  animation: fadeIn 0.8s ease forwards;
  padding: 3rem;
}

.vision-logo-container {
  display: inline-block;
  margin-top: 20px;
}

.vision-logo-container img {
  box-shadow: 0 4px 8px var(--vision-border-color);
  border-radius: 4rem;
  transition: transform 0.3s ease;
}

.vision-logo-container img:hover {
  transform: scale(1.05); /* Slight zoom effect on hover */
}

.vision-logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Fade-in animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Fund Container Styles */
.fund-container {
  display: flex;
  margin-top: 20px; /* Space above */
  /* border: 2px solid greenyellow; */
  justify-content: center;
  gap: 5rem; /* Adjusted spacing for a cleaner look */
  margin: 5rem 0; /* Margin above and below */
  padding: 1rem; /* Padding inside the fund container */
  border-radius: 8px; /* Slightly rounded corners */
}

/* Fund Date Styles */
.fund-date {
  display: flex;
  flex-direction: column; /* Stack the span and p vertically */
  align-items: center; /* Center align content */
  margin: 0;
  padding: 0;
}

.fund-date span {
  font-weight: bold;
  margin-bottom: 5px; /* Space below the date */
  padding: 0;
}
.fund-date p{
  color: rgba(53, 249, 252, 0.814);
  margin: 7px;
  padding: 0;
}
/* User Styles */
.user {
  display: flex;
  flex-direction: column; /* Stack the span and p vertically */
  align-items: center; /* Center align content */
  /* background-color: #f1f1f1; Light background for user details */
  padding: 0; /* Padding around user details */
  /* margin: 0; */
  border-radius: 4px; /* Slightly rounded corners */
  font-size: 2rem; /* Adjusted font size */

}

.user span {
  font-weight: bold;
  margin-bottom: 10px;
}
.user p{
  color: rgba(53, 249, 252, 0.814);
  margin: 7px;
  padding: 0;
}