.exit-strategy-container {
    justify-content: center;
    /* border: 2px solid red; */
  }
  
  .exit-strategy-description-wrapper {
    text-align: center;
    justify-content: center;
    
  }
  .heading-wrapper{
    max-width: 600px;
  }
  .exit-strategy-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 16px;
  }
  
  .exit-strategy-title b {
    color: #4db1fd;
  }
  
  .exit-strategy-description {
    font-size: 1.1rem;
    color: #666;
    justify-content: space-around;
  }
  
  .exit-strategy-button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #4db1fd;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .exit-strategy-button:hover {
    background-color: #3b8bc4;
  }
  
  .exit-strategy-banner-img {
    width: 100%;
    height: 100%;
    max-width: 500px;
  }

  @media screen and (max-width: 768px) {
    .exit-strategy-banner-img {
      justify-content: center;
      align-items: center;
    }
    .exit-strategy-banner{
      width: 50%;
      align-items: center;
    }
    .exit-strategy-container{
      justify-content: center;
      align-items: center;
    }
  }
  