/* .box h1{
  width: 519px;
  height: 24px;
  font-size: 20px;
  font-weight: 600;
  color: #000000;
  border: none;
  margin: 0;
  padding: 0;
} */
/* .box p{
  /* height: 150px;
  width: 519px; */
  
/* } */