.free-trial-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.free-trial-content {
  max-width: 600px;
  padding-left: 1rem;
}

.heading-wrapper {
  margin-bottom: 1rem;
  transition: transform 0.3s ease;
}

/* Hover effect to slightly scale up the heading */
.heading-wrapper:hover {
  transform: scale(1.05);
}

.title {
  /* font-size: 3rem; */
  font-weight: bold;
}
.heading-wrapper h2{
  font-size: 3rem;

}

.benefits {
  margin: 1rem 0;
}

.benefit {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  padding: 0.6rem 0;
  font-size: 1.5rem;
  transition: transform 0.3s ease;
}

/* Slight move-up animation on hover for each benefit */
.benefit:hover {
  transform: translateY(-5px);
}

/* Hover effect to change color of benefit icon and text */
.benefit:hover svg circle {
  fill: #0056b3;
}
.benefit:hover .benefit-content {
  color: #0056b3;
}

.start-trial-btn {
  padding: 1rem 2rem;
  font-size: 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
  border-radius: 1rem;
  margin-left: 2rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Hover effect for the button */
.start-trial-btn:hover {
  background-color: #0056b3;
  transform: scale(1.05);
  box-shadow: 2px 2px 10px rgba(58, 128, 233, 0.5);

}

.plan-description {
  display: block;
  margin-top: 0.5rem;
  color: #666;
  margin-left: 2rem;
  transition: color 0.3s ease;
}

/* Hover effect to change text color */
.plan-description:hover {
  color: #333;
}

.additional-info {
  margin-top: 1rem;
  margin-left: 2rem;
}

.link-button {
  color: #007bff;
  text-decoration: none;
  margin-right: 0.5rem;
  transition: color 0.3s ease;
}

/* Hover effect to darken link color */
.link-button:hover {
  color: #0056b3;
}

.cancel-button {
  background: none;
  border: none;
  color: #666;
  cursor: pointer;
  transition: color 0.3s ease;
}

/* Hover effect for cancel button */
.cancel-button:hover {
  color: #333;

}

.david-banner img {
  max-width: 600px;
  border-radius: 3rem;
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0.9;
  box-shadow: 2px 2px 10px rgba(132, 172, 232, 0.5);

}

/* Hover effect for image to scale up slightly and increase opacity */
.david-banner img:hover {
  transform: scale(1.03);
  opacity: 1;
  box-shadow: 2px 2px 10px rgba(58, 128, 233, 0.5);

}
