.pagination-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem;
}

:root {
    --pagination-text-color: #000;
    --pagination-border-color: #ccc;
    --pagination-hover-bg-color: #f0f0f0;
    --pagination-selected-bg-color: #3498db;
    --pagination-selected-border-color: #007bff;
  }

  [data-theme="dark"] {
    --pagination-text-color: #fff;
    --pagination-border-color: #444;
    --pagination-hover-bg-color: transparent;
    --pagination-selected-bg-color: #3498db;
    --pagination-selected-border-color: #3498db;
  }
