.select-coins-div {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 1.5rem;
  margin: 1.5rem 1rem;
  flex-wrap: wrap;
}

.select-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.resources.second ul{
  text-align: center;
}
