[data-theme=light]{
    --css-9ug6um-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper-MuiMenuItem-root-bg-color: var(--white);
    --css-9ug6um-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper-MuiMenuItem-root-color: var(--darkgrey);
    --css-6hp17o-MuiList-root-MuiMenu-list-bg-color: var(--white);
    --css-6hp17o-MuiList-root-MuiMenu-list-color: var(--darkgrey);
   }
   [data-theme=dark]{
    --css-9ug6um-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper-MuiMenuItem-root-bg-color: var(--darkgrey);
    --css-9ug6um-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper-MuiMenuItem-root-color: var(--white);
    --css-6hp17o-MuiList-root-MuiMenu-list-bg-color: var(--darkgrey);
    --css-6hp17o-MuiList-root-MuiMenu-list-color: var(--white);
   }
  
   .select-coins-div {
       margin: 0;
       padding: 0;
       width: 630px;
       height: 40px;
       display: flex;
       /* flex-direction: row; */
       justify-content: center;
       align-items: center;
       gap: 10px;
   }
   
   .select-flex-1 {
       width: 290px;
       height: 40px;
       display: flex;
       justify-content: center;
       align-items: center;
   }
   .select-flex-2 {
       width: 290px;
       height: 40px;
       display: flex;
       align-items: center;
   }
   
   .resources.second ul {
       text-align: center;
   }
   ::-webkit-scrollbar {
    width: 4px;
   }
  
   ::-webkit-scrollbar-track {
    background-color: transparent;
   }
  
   ::-webkit-scrollbar-thumb {
    background: #C1C3C4;
    border-radius: 10px;
   }
  
   /* .info-p {
       font-size: 1rem;
       font-family: 'Times New Roman', Times, serif;
       font-weight: 100 !important;
       display: block;
       font-style: normal;
       margin: 1rem;
       margin-left: 4rem !important;
       margin-right: 4rem !important;
   } */
   /* 
   .info-component h1 {
       font-size: 1.5rem;
       font-family: 'Times New Roman', Times, serif;
       font-weight: 100 !important;
       display: block;
       font-style: normal;
       margin-top: 1.5rem;
   } */
   
   canvas[role="img"] {
       width: 90% !important;
       height: 90% !important;
       max-width: 100%;
       max-height: 90% !important;
       display: block;
       margin: 0 auto;
     }
    .MuiList-root{
       height: 216px !important;
       /* width: 278px !important; */
    }
   .css-6hp17o-MuiList-root-MuiMenu-list {
       font-size: 16;
       font-weight: 400;
       list-style: none;
       margin: 0;
       padding: 0;
       position: relative;
       padding-top: 8px;
       outline: 0;
       background-color: var(--css-6hp17o-MuiList-root-MuiMenu-list-bg-color) !important;
       color: var( --css-6hp17o-MuiList-root-MuiMenu-list-color) !important;
   }
   
   .css-9ug6um-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper .MuiMenuItem-root {
       margin: 0;
       padding: 0;
       background-color: var(--css-9ug6um-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper-MuiMenuItem-root-bg-color) !important;
       color: var(--css-9ug6um-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper-MuiMenuItem-root-color) !important;
   }
   .css-w76bbz-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
       padding: 0 !important;
       display: flex;
       /* text-align: center; */
   }
   .css-j0riat-MuiSelect-nativeInput{
       /* width: 195px; */
       height: 40px;
       padding: 0 !important;
       margin: 0 !important;
   }
   .css-1ll44ll-MuiOutlinedInput-notchedOutline {
       position: absolute;
       text-align: center !important;
       margin: 0 !important;
       padding: 0 !important;
       pointer-events: none;
       border-radius: 10px;
       border-style: solid;
       border-width: 1px;
       overflow: hidden;
       min-width: 0%;
       height: 40px;
       border-color: rgba(0, 0, 0, 0.2);
   }
   .css-1heafni-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root .MuiSvgIcon-root {
       color: rgba(0, 0, 0) !important; 
   }
   .css-lohd6h-MuiSvgIcon-root-MuiSelect-icon {
       color: #000000 !important;
       justify-content: right;
   }

   @media screen and (max-width: 1500px) {
    .select-coins-div{
        /* display: flex; */
        flex-direction: column;
        padding-bottom: 3rem;
        align-items: center;
        /* gap: 10px; */
    }
  }