.calculator-container {
    background-color: #e6f6fb;
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
  }
  
  h2 {
    color: #0f0e0e;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .input-container {
    margin: 15px 0;
  }
  
  .input-container label {
    font-weight: bold;
    font-size: 1.2rem;
    color: #333;
    display: block;
    margin-bottom: 8px;
  }
  
  .input-container input {
    width: 85%;
    padding: 10px;
    border-radius: 6px;
    border: 2px solid #0b53ee;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  .input-container input:focus {
    border-color: #0620e6;
  }
  
  button {
    background-color: #0620e6;
    color: white;
    padding: 12px 35px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    /* margin-top: 15px; */
    font-size: 1rem;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  button:hover {
    background-color: #cfd3ec;
    color: #0f0e0e;
    border: 1px solid #012a83;
  }
  
  .result {
    margin-top: 25px;
    padding: 15px;
    background-color: #f1f8fb;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1.2rem;
  }
  
  .result p {
    margin: 10px 0;
    color: #0a0909;
    font-weight: 500;
  }
  