.contributors-title {
  margin-top: 2rem;
  text-align: center;
  color: #006397;
  font-size: 2rem !important;
  font-weight: bold;
  margin-bottom: 1rem !important;
  text-transform: uppercase;
}

.contributors-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* gap: 0.5rem !important; */
  margin-bottom: 3rem;
}

.contributor-card:hover h2 {
  color: var(--text-color);
  font-size: 1.03rem;
}

.contributor-card:hover .contributor-contributions {
  color: var(--text-color);
  font-size: 1rem;
}

.contributor-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  background: linear-gradient(45deg, #3a80e9, #b453e6);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transform: translate(-100%, -100%);
  opacity: 0;
  z-index: -1;
}

.contributor-card:hover::before {
  transform: translate(0, 0);
  opacity: 1;
}

.contributor-link {
  display: block;
}

.contributor-avatar {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
  border: 2px solid #00b4d8;
  transition: border 0.4s ease-in-out, height 0.4s ease-in-out,
    width 0.4s ease-in-out, box-shadow 0.3s ease-in-out;
}

h2 {
  color: var(--contributor-name-color);
}

.contributor-name {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  transition: text-shadow 0.4s ease-in-out, font-size 0.5s ease-in-out,
    text-decoration 0.4s ease-in-out;
}

.contributor-contributions {
  color: var(--contributor-contributions-color);
  border: 1px solid rgb(214, 214, 214);
  border-radius: 5rem;
  padding: 10px 40px;
  transition: text-shadow 0.4s ease-in-out;
}

.contributor-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  /* position: sticky; */
  border-radius: 0px 0px 20px 20px;
  bottom: 0;
  border-top: 1px solid #ddd;
  z-index: 10;
}

.view-profile-button{
  color: rgb(91, 101, 97);
}

.view-profile-button:hover{
  color: rgb(97, 106, 102);
  opacity:0.7;
}

@media (max-width: 1200px) {
  .contributor-card {
    max-width: 33.333%;
  }
}

@media (max-width: 992px) {
  .contributor-card {
    max-width: 50%;
  }
}

@media (max-width: 768px) {
  .contributor-card {
    max-width: 97%;
  }
}

.contributors-page {
  min-height: 100vh;
  background-color: var(--background-color);
  padding: 1rem 3rem;
}

.contributors-title {
  font-size: 2rem;
  color: var(--text-color);
  text-align: center;
  margin-bottom: 2rem;
}

.contributors-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

@media (max-width: 768px) {
  .contributors-page {
    padding: 1rem;
  }

  .contributors-grid {
    grid-template-columns: 1fr;
  }
}