.calculator-container {
  background-color: #e6f6fb;
  border: 2px solid #012a83;
  border-radius: 12px;
  padding: 25px;
  max-width: 650px;
  margin: 30px auto;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #0f0e0e;
  font-size: 2.2rem;
  margin-bottom: 15px;
}

.input-container {
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container label {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 8px;
}

.input-container input {
  width: 90%;
  max-width: 300px;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #0b53ee;
  font-size: 1rem;
  outline: none;
  text-align: center;
}

button {
  background-color: #0620e6;
  color: white;
  padding: 12px 35px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 1rem;
  margin-top: 15px;
}

button:hover {
  background-color: #cfd3ec;
  color: #0f0e0e;
  border: 2px solid #012a83;
}

.result {
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #0a0909;
  padding: 10px;
  background-color: #f0f4ff;
  border-radius: 6px;
  display: inline-block;
}
