/* Base styles for light mode */
.estimator-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
}

.input-group input,
.input-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
    background-color: #fff;
    color: #333;
}

.calculate-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.calculate-button:hover {
    background-color: #0056b3;
}

.result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

/* Dark mode styles */
.dark-mode .estimator-container {
    background-color: #333;
    color: #f5f5f5;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

.dark-mode h2 {
    color: #f5f5f5;
}

.dark-mode .input-group label {
    color: #f5f5f5;
}

.dark-mode .input-group input,
.dark-mode .input-group select {
    background-color: #444;
    border: 1px solid #555;
    color: #f5f5f5;
}

.dark-mode .calculate-button {
    background-color: #1e90ff;
    color: #fff;
}

.dark-mode .calculate-button:hover {
    background-color: #1c7ed6;
}

.dark-mode .result {
    color: #f5f5f5;
}


.defi-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333; /* Dark text for the main heading */
    text-align: center;
}

.info-section {
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    background-color: #ffffff; /* White background for each section */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.info-section h2 {
    color: #007bff; /* Primary color for section headings */
}

.info-section p {
    color: #110303; /* Darker text for readability */
    line-height: 1.6; /* Improved line height for better readability */
}