.span {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 1.2rem;
    color: var(--text-color);
}

.social-icons-container {
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px; 
    margin-top: 30px;
    margin-bottom: 30px;
}

.social-icon {
    width: 35px;
    height: 35px;
    background-color: rgba(255, 255, 255, 0.15); 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--text-color);
    font-size: 1rem;
    transition: all 0.3s ease;
  
}


.social-icon:hover {
    transform: scale(1.1);
    background-color: var(--blue);
    border-color: var(--blue); 
    box-shadow: 0 0 10px rgba(58, 128, 233, 0.5); 
}


.social-icon-wrapper {
    padding: 0.5px;

}

.social-icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
    flex-wrap: wrap;
}
.faq-container {
    padding: 20px;
    background-color: #f9f9f9;
}


[data-theme="dark"] .social-icon {
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--text-color);
}

[data-theme="light"] .social-icon {
    background-color: rgba(0, 0, 0, 0.1);
    color: var(--text-color);
}

[data-theme="dark"] {
    --background-color: #1b1b1b;
    --text-color: #ffffff;
    --border-color: #333333;
    --question-bg-color: #2c2c2c;
    --answer-bg-color: #222222;
    --accent-color: #3a80e9;
}

[data-theme="light"] {
    --background-color: #ffffff;
    --text-color: #333333;
    --border-color: #e0e0e0;
    --question-bg-color: #f0f0f0;
    --answer-bg-color: #f9f9f9;
    --accent-color: #3a80e9;
} 





