/* Light mode styles */
[data-theme="light"] {
  --terms-bg-color: #f5f5f5;
  --terms-text-color: #333;
  --terms-heading-color: #0066ff;
  --terms-border-color: transparent;
  --mixed-color:linear-gradient(135deg, #9b59b6, #4db1fd, #43f449);

}

/* Dark mode styles */
[data-theme="dark"] {
  --terms-bg-color: #121212;
  --terms-text-color: #ffffff;
  --terms-heading-color: #3a80e9;
  --terms-border-color: #3a80e9;
  --mixed-color:linear-gradient(135deg, #9b59b6, #4db1fd, #5843f4);

}

.terms-containers {
  /* color: var(--terms-text-color); */
  padding: 2rem;
  min-height: 100vh;

  border-radius: 10px;

  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.terms-heading {
  color: var(--terms-heading-color);
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.terms-section {
  margin-bottom: 1.5rem;
  padding: 1rem;
  margin-bottom: 1.5rem;
  border-radius: 8px;
  background: var(--mixed-color)
}

.terms-section h2 {
  color: var(--terms-heading-color);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.terms-section p {
  color: var(--terms-text-color);
  line-height: 1.6;
}

.terms-link {
  color: var(--terms-heading-color);
  text-decoration: none;
}

.terms-link:hover {
  text-decoration: underline;
}

[data-theme="dark"] .terms-section {
  background-color: rgba(255, 255, 255, 0.05);
}

[data-theme="dark"] .terms-section p {
  color: #ffffff;
}



