.buy-future {
    margin: 30px;
    padding: 20px;
    /* background-color: #f9f9f9; */
    /* Light background */
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(40, 156, 182, 0.636);
    /* Subtle shadow for depth */
    transition: border 0.3s ease;

}
.buy-future:hover {
    border: 2px solid #1180e28a;
    cursor: pointer;
}

.buy-future-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* gap: 5rem; */
    /* Align text to the start */

    
    padding: 1rem 5rem 1rem 5rem;
}

.buy-future-text {
    margin-right: 20px;
    /* Space between text and image */

}

.heading-container {
    text-align: left;
    /* Left align the heading */

}


.heading-text-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    /* Dark text color */
    padding: 1rem 0 1rem 0;
}

.cs-button {
    background-color: #0d6efd;
    /* Primary button color */
    color: white;
    /* Button text color */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 1rem 0 1rem 0;
}

.cs-button:hover {
    background-color: #6610f2;
    /* Darker shade on hover */
}

.buy-future-img {
    max-width: 30%;
    /* Set a maximum width for the image */
    border-radius: 15px;

}
.buy-future-img img{
    border-radius: 1rem;
}

.btc-banner-img {
    width: 100%;
    /* Make image responsive */
    height: auto;
   
}
