

.sidebar {
    margin-top:20px;
    color:#fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0 , 0, 0, 0.1);
    padding: 20px;
}

.sidebar h3 {
    font-size: 1.5rem;
    color: #3a80e9;
    margin-bottom: 15px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    text-decoration: none;
    color: #3a80e9;
    transition: color 0.3s;
}

.sidebar a:hover {
    color: #2a60b0;
}

.dark .sidebar{
    background-color: #1e1e1e;
}