#back-to-top {
    position: relative;
    top: -10rem;
    margin-left: 93%;
    height: 55px;
    width: 55px;
    z-index: 1000;

    background-color: rgb(0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px;
    color: white;
    border: none;
    border-radius: 27.5px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    transform: scale(1);

    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 1500px) {
    #back-to-top {
        margin-left: 93%;
    }
  }
  
@media screen and (max-width: 1200px) {
    #back-to-top {
        margin-left: 90%;

    }
  }
  
@media screen and (max-width: 850px) {
    #back-to-top {
        top: -11rem;
        margin-left: 88%;
    }
  }

@media screen and (max-width: 550px) {
    #back-to-top {
        margin-left: 85%;
    }
  }

@media screen and (max-width: 390px) {
    #back-to-top {
        margin-left: 81.5%;
    }
  }


#back-to-top:hover {
    transform: scale(1.1);
}

.fa-chevron-up {
    font-size: 30px;
    left: 20px;
}