:root {
  --heading1-color-dark: #fff;
  /* White for dark theme */
  --heading1-color-light: #111;
  /* Black for light theme */
}

.main-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem 3rem;
  position: relative;
}

.heading1,
.heading2 {
  font-size: 6rem;
  margin: 0;
}


/* .heading1:hover {
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: var(--white);
  color: var(--white);
  transition: all 0.3s;
} */


[data-theme="dark"] .heading1 {
  color: var(--heading1-color-dark);
}

[data-theme="light"] .heading1 {
  color: var(--heading1-color-light);
}

.heading2 {
  color: var(--blue);
  margin-top: -5px; 
}

.info-text {
  color: var(--grey);
  font-weight: 300;
}

.btn-flex {
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
}

.gradient-div {
  position: relative;
  width: 50%;
  margin-left: auto;
  margin-bottom: 30px; /*  bottom margin to create space */
  z-index: 1;
}

.gradient {
  position: relative;
  left: 18.5rem;
  top: 3rem;
  width: 15.625rem;
}

.iphone {
  position: absolute;
  right: 10px;
  width: 300px;
  top: 10px;
  z-index: 2;
  filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.5));
}

@media only screen and (max-width: 1350px) {

  .heading1,
  .heading2 {
    font-size: 5rem;
  }
}

@media only screen and (max-width: 1050px) {

  .heading1,
  .heading2 {
    font-size: 4rem;
  }

  .gradient {
    right: 0px;
    top: 60px;
    width: 200px;
  }

  .iphone {
    right: 0px;
    width: 250px;
    top: 20px;
  }
}

@media only screen and (max-width: 800px) {

  .heading1,
  .heading2 {
    font-size: 3rem;
  }

  .main-flex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .heading1,
  .heading2,
  .info-text {
    text-align: center;
  }

  .info-text {
    font-size: 0.9rem;
  }

  .btn-flex {
    justify-content: center;
    width: 100%;
  }

  .gradient-div {
    margin-top: 3rem;
    margin-right: auto;
    margin-bottom: 50px;
  }

  .gradient,
  .iphone {
    left: 0px;
    right: 0px;
  }
  .gradient {
    right: 0px;
    top: 60px;
    width: 200px;
    height: 50%;
  }
  .iphone {
    width: 95%; 
    max-width: 400px; 
    top: 20px; 
  }
}

/* @media only screen and (max-width: 800px) {

  .gradient,
  .iphone {
    left: 0px;
  }

  .iphone {
    left: -30px;
  }
}

/*
clamp(minFontSize, ratio, maxFontSize)
  formula to calculate the ratio
  (max-size/design width) * 100
  example: (70/1440)*100 */
  @media only screen and (max-width: 200px) {

    .gradient,
    .iphone {
      left: 0px;

    }

    .footer {
      margin-top: 80px; /* Adjust margin for mobile */
      margin: 1.5rem 0.5rem;
    }
    
  .main-wrapper {
    padding-bottom: 60px; /* Reduce padding on mobile */
  }
  
    /* .iphone {
      left: -20px;
    } */
  } 

  .main-wrapper {
    min-height: 80vh;
    position: relative;
    padding-bottom: 20px; /* Add padding to prevent footer overlap */
  }
  
  .main-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding:3rem 3rem 1rem;
    position: relative;
  }
/* Custom CSS styling for share App dialog box */

.rws-backdrop {
    background: rgba(0, 0, 0, 0.8) !important;
    justify-content: center !important;
    z-index: 1400 !important;
}

.rws-container {
    background-color: var(--rws-container-bg) !important;
    max-width: 18rem !important;
    border: var(--rws-container-border) !important;
    border-bottom-left-radius: 0.5rem !important;
    border-bottom-right-radius: 0.5rem !important;
}

.rws-header {
    display: flex !important;
    justify-content: center !important;
    background: rgba(0, 0, 0, 0.1) !important;
    padding: 1rem 1.25rem;
    font-size: 1rem !important;
    font-weight: 800 !important;
    color: var(--rws-font-color) !important;
}

.rws-icons {
    background: rgba(0, 0, 0, 0.1) !important;
    grid-template-columns: repeat(4, 1fr) !important;
    grid-gap: 0.8rem !important;
}

.rws-close {
    background: var(--rws-close-bg) !important;
    border-top: var(--rws-container-border) !important;
    border-bottom-left-radius: 0.5rem !important;
    border-bottom-right-radius: 0.5rem !important;
    color: var(--rws-close-font-color) !important;
}

[data-theme="dark"] {
    --rws-close-font-color: rgba(230, 230, 230, 255);
    --rws-close-bg: rgba(113, 128, 150, 250);
    --rws-font-color: var(--grey);
    --rws-container-bg: var(--darkgrey);
    --rws-container-border: 0.5px solid var(--rws-close-bg);
}

[data-theme="light"] {
    --rws-close-font-color: var(--darkgrey);
    --rws-close-bg: var(--grey);
    --rws-font-color: var(--darkgrey);
    --rws-container-bg: var(--white);
    --rws-container-border: 0.5px solid var(--rws-close-bg);
}

