:root {
  --heading1-color-dark: #fff;
  /* White for dark theme */
  --heading1-color-light: #111;
  /* Black for light theme */
}

.heading1,
.heading2 {
  font-size: 6rem;
  margin: 0;
  padding:0;
}

.heading2 {
  color: var(--blue);
  margin-top: -5px;
}

.info-text {
  font-weight: 300;
  margin-left: 40px;
  margin-right: 40px;
}

.btn-flex {
  display: flex;
  margin-top: 1.5rem;
  justify-content: center;
}

.gradient-div {
  position: relative;
  width: 900px;
  /* margin-left: auto; */
  /* margin-bottom: 30px;  bottom margin to create space */
  z-index: 1;
  height:505px;
}

.gradient {
  position: relative;
  left: 18.5rem;
  top: 3rem;
  width: 15.625rem;
}

.iphone {
  position: absolute;
  right: 10px;
  width: 300px;
  top: 10px;
  z-index: 2;
  filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.5));
}
@media only screen and (max-width: 1724px) {
  .gradient-div{
    width: 590px;
  }
   .landing-name{
    width: auto;
   }
}
@media only screen and (max-width: 1424px) {
  .gradient-div{
    width: 490px;
  }
   .landing-name{
    width: auto;
   }
}
@media only screen and (max-width: 1350px) {
  .landing-gap{
    width:auto;
    display: flex;
    justify-content: space-between !important;
  }
  .gradient{
    display: none;
  }
  .landing-name{
    width: auto;
  }
  .gradient-div{
    width: 250px;
  }
  .iphone{
    width: 250px;
    height: auto;
  }
}

@media only screen and (max-width: 1086px) {
  .heading1,
  .heading2 {
    font-size: 5rem;
  }
  .info-text{
    width: auto;
    height: auto;
    text-align: center;
  }
  .gradient {
    display: none;
  }

  .iphone {
    right: 0px;
    width: 250px;
    top: 20px;
  }
}

@media only screen and (max-width: 945px) {

  .heading1,
  .heading2 {
    font-size: 4rem;
  }
}


@media only screen and (max-width: 803px) {
  .landing-gap{
    flex-direction: column;
    justify-content:center !important;
    align-items: center !important;
    height: auto;
  }
  .landing-name{
    margin-top:5rem;
  }
  .heading1,
  .heading2 {
    font-size: 5rem;
  }

  .main-flex {
    flex-direction: column;
  }

  .info-text {
    font-size: 0.9rem;
  }

  .btn-flex {
    justify-content:center !important;
    align-items: center !important;
    width: 100%;
  }

  .gradient-div {
    margin-top: 2rem;
  }
}

.main-wrapper {
  margin-top: 70px;
  /* padding-top: 15px; */
  min-height: 80vh;
  position: relative;
  padding-bottom: 20px; /* Add padding to prevent footer overlap */
}

.main-flex {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}
/* Custom CSS styling for share App dialog box */

.rws-backdrop {
  background: rgba(0, 0, 0, 0.8) !important;
  justify-content: center !important;
  z-index: 1400 !important;
}

.rws-container {
  background-color: var(--rws-container-bg) !important;
  max-width: 18rem !important;
  border: var(--rws-container-border) !important;
  border-bottom-left-radius: 0.5rem !important;
  border-bottom-right-radius: 0.5rem !important;
}

.rws-header {
  display: flex !important;
  justify-content: center !important;
  background: rgba(0, 0, 0, 0.1) !important;
  padding: 1rem 1.25rem;
  font-size: 1rem !important;
  font-weight: 800 !important;
  color: var(--rws-font-color) !important;
}

.rws-icons {
  background: rgba(0, 0, 0, 0.1) !important;
  grid-template-columns: repeat(4, 1fr) !important;
  grid-gap: 0.8rem !important;
}

.rws-close {
  background: var(--rws-close-bg) !important;
  border-top: var(--rws-container-border) !important;
  border-bottom-left-radius: 0.5rem !important;
  border-bottom-right-radius: 0.5rem !important;
  color: var(--rws-close-font-color) !important;
}

[data-theme="dark"] {
  --rws-close-font-color: rgba(230, 230, 230, 255);
  --rws-close-bg: rgba(113, 128, 150, 250);
  --rws-font-color: var(--grey);
  --rws-container-bg: var(--darkgrey);
  --rws-container-border: 0.5px solid var(--rws-close-bg);
}

[data-theme="light"] {
  --rws-close-font-color: var(--darkgrey);
  --rws-close-bg: var(--grey);
  --rws-font-color: var(--darkgrey);
  --rws-container-bg: var(--white);
  --rws-container-border: 0.5px solid var(--rws-close-bg);
}

.submit-button {
  transition: all 0.3s ease;
}

.submit-button:hover {
  background-color: var(--primary-color, #3a80e9);
  color: white;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}
