.css-cbn7zz {
    text-align: center;
    padding: 20px;
  
  }
  .detail-container{
    box-shadow: 1px 3px 10px 4px rgba(99, 40, 182, 0.636);
    /* border: 2px solid red; */
    margin: 3rem;
    padding: 1.5rem;
    border-radius: 1rem;
  }
  
  .detail-container:hover{
    border: 2px solid rgba(63, 34, 97, 0.54);

  }


  .css-1pjy46v {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .css-lda8c8, .css-168iehe {
    display: block;
  }
  
  .css-uof3fk {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
  }
  
  .css-clo48u, .css-ln962v {
    text-decoration: none;
  }
  
  .css-60b4jl, .css-1y6kbzu {
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 1rem;

  }
  
  .css-60b4jl {
    background-color: #4CAF50; /* Button color for "View Drops" */
    color: white;
  }
  
  .css-1y6kbzu {
    background-color: #008CBA; /* Button color for "View Marketplace" */
    color: white;
  }
  