/* Container for the tutorial section */
.main-wrapper-porfolio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
  margin: 2rem;
  gap: 6rem;
  /* border: 2px solid red; */

}

/* Wrapper for the description part */
.deatil-wrapper-porfolio {
  /* margin-bottom: 20px; */
  /* border: 2px solid rgb(61, 182, 28); */
  width: 600px;
}

/* Title styles */
.title__fU7gu {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.title__UGh1s {
  color: #333;
}

/* Description styles */
.description__e7VeV {
  font-size: 16px;
  color: #555;
}

.description__iTu36 {
  line-height: 1.5;
}

/* Button Styles */
.cs-button__iO2MF {
  background-color: #ff9332;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.cs-button__iO2MF:hover {
  background-color: #e67e00;
}

/* Banner Image Styles */
.tutorialBanner__b9zhX {
  position: relative;
  height: 450px;
}
.main-banner img {
  object-fit: cover;
  width: 500px;
  /* height:500px; */
}





/* Flexbox and responsive tweaks */
.reverseRow__ohsqd {
  flex-direction: row-reverse;
}

.tutorial-v2__w0jq2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading-wrapper__PsGv8 {
  display: flex;
  flex-direction: column;
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 768px) {
  .tutorialV2__oZoVu {
    padding: 15px;
  }

  .tutorialV2Description__CXkQB {
    margin-bottom: 15px;
  }

  .title__fU7gu {
    font-size: 20px;
  }

  .description__e7VeV {
    font-size: 14px;
  }

  .cs-button__iO2MF {
    padding: 10px 20px;
  }

  .tutorialBanner__b9zhX {
    height: 250px;
  }
}
