:root {
  --blur-border-color: #fff; /* Default light mode */
  transition: --blur-border-color 0.1s ease;
}

.dark {
  --blur-border-color: #121212; /* Dark mode */
}

.marquee {
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  margin-top: 2rem;
  padding: 1.5rem;
 margin:1rem 6rem 1rem 6rem ;
}

.marquee-content {
  display: flex;
  flex-direction: row ;
}

.logo {
  display: inline-block;
  height: 50px; 
}

.dark .logo {
  
  background-color: white;
}

.logo:hover {
  transform: scale(1.1); /* Slight zoom effect */
  box-shadow: 0 4px 15px rgba(0, 0, 255, 0.6); /* Blue glow shadow */
  cursor: pointer; /* Change cursor to pointer */
}
.company-logo-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
}
.company-logo-box h5{
  margin-top: 0.2rem;
  font-size: 0.7rem;
}