/* src/components/InfoSection/InfoSection.css */
.info-wrapper__OsPPP {
    display: flex;
    gap: 2rem;
    /* flex-direction: column; */
    justify-content: center;
    padding: 3rem;
    margin: 2rem;
    /* border: 2px solid rgb(0, 255, 166); */

  }
  
.detail-sec{
    /* border: 2px solid rgb(204, 30, 117); */
padding: 3rem;
}


  .info__YW7qy h4 {
    text-align: center;
font-size: 1.5rem;
  }
  .info__YW7qy p {
    /* text-align: center; */
font-size: 1rem;
  }
  .info-title__CQA5j {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: black;
  }

  .dark .info-title__CQA5j{
    color: white;
  }
  
  .info-title__CQA5j img {
    width: 50px;
    height: 50px;
  }
  
  .description__mKln5 {
    margin-top: 0.5rem;
    color: #555;
  }
  
  .image-sec{
    /* border: 2px solid rgb(198, 238, 18); */
padding: 2rem 0.6rem;
  }
  .image-sec img{
    width: 600px;
  }